{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="home-box">
        <div class="viewTitle">
            <h1>Cass Parviainen</h1>
            <p class="subheading"  data-value="// Software engineer">// Software engineer</p>
        </div>
        <div>
            <div class="home-content-box">
                <div class="home-text-box">
                    <h2>Welcome to my portfolio!</h2>
                    <p>
                        I am a software engineer fascinated by possibilities of technology. I have passion for web development, cloud computing and DevOps. You can read more about my experience and skills in the projects section.
                    </p>
                </div>
                <div class="home-img-box">
                    <img src="/static/images/temporary_portfolio_pic.png" alt="Cass"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

